@media(max-width:400px){
     .right-links i {
          font-size: 4vw;
     }
     .right-links span {
          font-size: 2vw;
     }
     
.image-section-3 img {
     width: 90%;
     height: 40%;
     margin: 1px;
     padding: 2px;
}

}
@media(max-width:769px) {

     .left-links a {
          display: none;
     }
     .right-links button {
          display: none;
     }
     .right-links {
          width: 28vw;
          margin-right: 35px;
     }
     
nav img {
     height: 30px;
}


     /* First-section */
     .firstdiv {

          width: 100%;
          height: 100vh;
          flex-direction: column-reverse;
     }

     .textsectionfirst br {
          display: none;
     }

     .textsectionfirst {
          width: 100%;
          height: 60%;
          background-color: black;
          padding-left: 0px;
          /* padding-right:  35px; */
          position: static;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
     }
     .bgimage-1{
          width: 100%;
          height: 40%;
     }

     .firstdiv h2 {
          font-size: 1.6em;
          font-weight: 500;
          position: static;
     }

     .firstdiv h4 {
          position: static;
          width: 90%;
          font-size: 0.9em;
          font-weight: 400;
          margin-top: 15px;
          width: 80%;
     }

     .button1 {
          position: static;
          width: 15em;
          font-size: 0.9em;
     }

     .firstdiv p {
          font-size: 0.8em;
          margin-left: 0px;
          position: static;
     }


     /* Second-section */
     .seconddiv {
          width: 100%;
          height: 95vh;
          background-position: 100% 0%;
          background-repeat: no-repeat;
          background-size: 154% 62%;
          color: white;
          align-items: flex-end;
          /* justify-content: center; */
          flex-wrap: wrap;
     }

     .textsectionsecond {
          width: 100%;
          height: 60%;
          position: static;
          background-color: black;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }

     .seconddiv h2 {
          font-size: 1.6em;
          position: static;
     }

     .seconddiv h4 {
          font-size: 1em;
          font-weight: lighter;
          margin-top: 15px;
          position: static;
     }

     .button2 {
          width: 14em;
          font-size: 0.9em;
          /* margin: 0; */
          padding: 0;
          position: static;
     }

     .seconddiv p {
          font-size: 0.8em;
     }

     /* Third-section */
     .thirddiv {
          height: auto;
          justify-content: center;
          flex-direction: column;
          padding: 20px 10px;

     }

     .image-section-3 {
          width: 100%;
     }

     .text-section-3 {
          width: 100%;
     }

     .text-section-3 br {
          display: none;
     }

     .text-section-3 h3 {

          font-size: 4.8vw;
          font-weight: 500;
     }

     .text-section-3 h5 {
          font-size: 3.8vw;
     }

     /* Fourth-Section */
     .fourthdiv {
          width: 100%;
          height: 110vh;
          background-position: 100% 0%;
          background-repeat: no-repeat;
          background-size: 100% 50%;
          color: white;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;
     }

     .text-section-4 {
          width: 100%;
          height: 60%;
          position: static;
          background-color: black;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }

     .fourthdiv h2 {
          font-size: 1.6em;
          position: static;
          margin-left: 0px;
          padding: 0;
          margin: 0;
          margin-bottom: 10px;
     }

     .fourthdiv h4 {
          position: static;
          font-size: 1em;
          font-weight: lighter;
          margin-left: 0px;
          padding: 0px;
          margin: 0;
          margin-bottom: 10px;
     }

     .button4 {
          width: 14em;
          font-size: 0.9em;
          position: static;
          margin-left: 0px;
          padding: 0px;
          margin: 0;
     }

     .fourthdiv p {
          position: static;
          font-size: 0.8em;
          margin-left: 0px;
          margin: 0;
          padding: 0px;
     }
     .text-section-4 br{
          display: none;
     }

     /* Fifth-Section */
     .fifthdiv {
          width: 100%;
          height: 100vh;
          background-position: 100% 0%;
          background-repeat: no-repeat;
          background-size: 100% 50%;
          color: white;
          align-items: flex-end;
          justify-content: center;
          flex-wrap: wrap;
     }

     .text-section-5 {
          width: 100%;
          height: 60%;
          position: static;
          background-color: black;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }

     .text-section-5 br{
          display: none;
     }
     .fifthdiv h2 {
          position: static;
          font-size: 1.6em;
          margin-left: 0px;
          padding: 0;
          margin: 0  0 10px 0;
     }

     .fifthdiv h4 {
          position: static;
          font-size: 1em;
          font-weight: lighter;
          padding: 0;
          margin: 0 0 10px 0;
     }

     .button5 {
          position: static;
          width: 14em;
          font-size: 0.9em;
          padding: 0;
          margin: 0 0 0 0;
     }

     .fifthdiv p {
          position: static;
          font-size: 0.8em;
          margin-left: 0px;
          padding: 0;
          margin: 0 0 0 0;
     }
     footer{
          padding: 5px;
     }
.footer img, p , a{
     font-size: 8.5px;
}

}